# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Database
*.mdf
*.ldf

# Environment variables
.env
appsettings.Development.json